<html>
    <head>
        <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <!-- my own css file link in the last position to be priority-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/gold_game.css') }}">   
    <script src="{{ url_for('static', filename='JS/gold_game.js') }}"></script>

    </head>
    <body class="container">

        <div>
            <div class="form-group row" id="score">
                <label for="inputEmail3" class="col-sm-2 col-form-label" id="your_gold">Your Gold:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputEmail3" name="your gold:" placeholder=0 value="{{ your_gold }}">
                </div>
            </div>
            <div class="group_form">
                <form action="/process_money", method="POST">
                    <input type="hidden" name="place" value="farm"/>
                    <h3 >Farm</h3>
                    <p> (earns 10-20 golds) </p>   
                    <button  type="submit" class="btn btn-primary">Find Gold!</button>
                </form>
                <form action="/process_money", method="POST">
                    <input type="hidden" name="place" value="cave"/>
                    <h3 >Cave</h3>
                    <p> (earns 5-10 golds) </p>   
                    <button  type="submit" class="btn btn-primary">Find Gold!</button> 
                </form>    
                <form action="/process_money", method="POST">
                    <input type="hidden" name="place" value="house"/> 
                    <h3 >House</h3>
                    <p> (earns 2-5 golds) </p>   
                    <button  type="submit" class="btn btn-primary">Find Gold!</button> 
                </form>          
                <form action="/process_money", method="POST">
                    <input type="hidden" name="place" value="casino"/> 
                    <h3 >Casino</h3>
                    <p> (earns/takes 0-50 golds) </p>   
                    <button  type="submit" class="btn btn-primary">Find Gold!</button> 
                </form>
            </div>
            <div class="form-group">
                    <label for="exampleFormControlTextarea1" class="activities_name">Activities:</label>
                    <p class="activities"> {{ activities|safe }} </p>
                    <!-- <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="Activities:">{{ activities|safe }}</textarea> -->
            </div>      
        </div>
 
    </body>
</html>

